<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8">
        <title>Add New Article</title>
    </head>
    <body>
        <div id="article">
            <form method="post" action="/article">
                <input type="text" name="title" placeholder="Title" required /> <br>
                <input type="text" name="brief" placeholder="Brief" required /> <br>
                <textarea name="article" cols="40" rows="5" placeholder="Article Body" required></textarea> <br>
                <input type="submit" value="Save Article" />
            </form>
        </div>
    </body>
</html>
