<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8">
        <title>Add New Article</title>
        <link href="style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="article">
            <h1>Add New Article</h1>
            <form method="post" enctype="multipart/form-data" action="/article">
                <input class="box" type="text" name="title" placeholder="Title" required />
                <textarea class="box" name="brief" cols="40" rows="4" placeholder="Brief" required></textarea>
                <textarea class="box" name="article" cols="40" rows="10" placeholder="Article Body" required></textarea>

                <fieldset class="box" id="images">
                    <legend>Upload Article Images</legend>
                    <div id="files">
                        <div><input id="fileField" type="file" name="images[]" /></div>
                    </div>
                    <div id="action-buttons">
                        <input type="button" id="add" value="+" />
                    </div>
                </fieldset>

                <input class="box" type="submit" value="Save Article" />
            </form>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="add-entries.js"></script>
    </body>
</html>
