html {
    background: #009688;
}

body {
    background: #009688;
    padding: 10px;
    font-family: arial;
}

h1 {
    color: #607D8B;
    padding: 10px;
    text-align: center;
}

#article {
    background: #fff;
    max-width: 960px;
    margin: 0 auto;
    padding-bottom: 20px;
    border-radius: 7px;
}

.titleWidth {
    width: 70%;
}

.loginWidth {
    width: 50%;
}

.title {
    font-size: 1.7em;
}

.urls {
    font-size: 1.0em;
    display: block;
}

.text-all {
    border-radius: 5px;
    border: 1px solid #607D8B;
    padding: 7px;
}

input[type="submit"] {
    width: 40%;
    font-size: 1.5em;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    border: 2px solid #009688;
    border-radius: 5px;
    padding: 5px;
}

input[type="submit"]:hover {
    background-color: #009688;
    color: #ffffff;
}

input[type="file"] {
    float: left;
    width: 60%;
}

#add, #sub {
    float: right;
    margin: auto auto;
}

#fileField {
    margin: 10px;
}

textarea {
    width: 70%;
    font-size: 1.7em;
    padding: 7px;
    border: 1px solid #607D8B;
    border-radius: 5px;
}

.box {
    display: block;
    margin: 20px auto;
}

#action-buttons, #files {
    display: inline-block;
}

#action-buttons {
    width: 20%;
    float: right;
    margin: auto auto;
}

#files {
    width: 70%;
}

.image-box {
    display: inline-block;
    margin: 10px;
    width: 70%;
}

fieldset {
    width: 70%;
    border: 1px solid #607D8B;
    border-radius: 5px;
}

legend {
    margin: 5px;
    color: #607D8B;
    font-size: 20px;
    padding: 10px;
    letter-spacing: 0.05em;
}
